/******************** Class Selectors *******************/
body {
  margin: 0;
  background-color: white;
}

div {
  margin: 0;
}

section {
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

canvas {
  border: 0.0625rem solid black;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #7298C9;
}

h1 {
  color: #72C9A4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-left: 0.3125rem;
}

h5 {
  color: #7298C9;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.0625rem;
  margin-left: 0.3125rem;
}
i  {
  font-size: 65px;
  padding-bottom: 15px;
}
ul {
  text-align: left;
}
/********************* Tag/ID Selectors ********************/
.top-container {
  background-color: white;
  color: black;
}

.middle-container {
  background-color: #78DAFB;
  padding: 0.3125rem;
  margin: 0;
}

.bottom-container {
  background-color: white;
}

.game {
  width: 100%;
  height: 70%;
}

.top-image {
  border-radius: 0.9375rem;
  height: 18.75rem;
  position: relative;
  left: 12.5rem;
}

.container-fluid {
  padding: 1.25rem 0.3125rem;
}

.navbar-brand {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
}

.top-words {
  margin-left: 5%;
}

.nav-link {
  color: #72c3c9;
}

.navbar-brand {
  color: #72c3c9;
}
.nav-item {
  padding: 0 1rem;
}
.row {
  width:100%;
}
.col-lg-4 {
  text-align: center;
}
#thumbs-up {
  color: #29D65D;
}
#thumbs-down {
  color: #F20D1F;
}
#pill {
  color: #C414EB;
}
