/******************** Class Selectors *******************/
body {
  margin: 0;
  background-color: white;
}

div {
  margin: 0;
}

section {
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

canvas {
  border: 1px solid black;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #7298C9;
}

h1 {
  color: #72C9A4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-left: 5px;
}

h5 {
  color: #7298C9;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 17px;
  margin-left: 5px;
}

.row {
  width: 100%;
}

/********************* Tag/ID Selectors ********************/
.top-container {
  background-color: white;
  color: black;
}

.bottom-container {
  background-color: white;
}

.game {
  width: 100%;
  height: 70%;
}

.top-image {
  border-radius: 15px;
  height: 300px;
  position: relative;
  left: 25%;
}

.navbar-brand {
  font-family: 'Alfa Slab One', cursive;
}

.container-fluid {
  padding: 20px 5px;
}

.top-words {
  margin-left: 5%;
}

.nav-link {
  color: #72c3c9;
}

.navbar-brand {
  color: #72c3c9;
}

/************** New CSS ******************/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 35px;
}

.table-top {
  background-color: #E96373;
}

table {
  margin-left: 30%;
  margin-top: 1rem;
}

.pedigree-img {
  margin-left: 10%;
}

iframe {
  width: 75%;
  height: 75%;
  margin-left: 12.5%;
}

.genetic-counselor {
  margin-top: 2rem;
  padding: 5px;
  margin-left: 10px;
  text-align: center;
}

#video-SCD {
  height: 650px;
  width: 100%;
}

#table-text {
  margin-top: 75px;
}

.money-image {
  border-radius: 15px;
  position: relative;
  left: 25%;
  margin-bottom: 1rem;
}

a {
  color: #5A9635;
}

.green-theme {
  color: #5A9635;
  text-align: center;
  font-family: "baloo tammudu 2";
  font-size: 23px;
}

.red-theme {
  color: #E3364B;
  font-family: "baloo tammudu 2";
  font-size: 23px;
}

.information-text {
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}

.red-theme-span {
  color: #E3364B;
}

.green-theme-span {
  color: #416D27;
}

.carouselExampleControls {
  height: 700px;
}

.divider {
  width: 100%;
  height: 25px;
  background-color: #1082a5;
  color: #1082a5;
}

.parents-report {
  height: 1095px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.green-carousel-container, .red-carousel-container, .general-carousel-container {
  margin-bottom: 20px;
}

#more-space {
  height: 700px;
}

h3, .orange-theme {
  color: #D2862D;
  text-align: center;
  font-family: "baloo tammudu 2";
  font-style: italic;
}

.orange-theme {
  font-size: 23px;
}

#plus-thing {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 47%;
  position: relative;
  color: #DB9E57;
}

.orange-span {
  font-weight: bold;
  color: #D2862D;
}

.orange-link {
  color: #D2862D;
}
